{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- favicon -->
	<link rel="icon" type="image/png" href="{% static 'pstring/favicon.ico' %}"/>
    <title>Shorten a URL with pul.io</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'pstring/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
	
	<!-- jquery -->
	<script data-cfasync="false" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<!--jquery cookie plugin -->
	<script data-cfasync="false" src="{% static 'pstring/jquery/jquery.cookie.js' %}"></script>

    <!-- Bootstrap Core JS -->
	<script src="{% static 'pstring/bootstrap/dist/js/bootstrap.min.js' %}" defer></script>
	
	<!-- Custom CSS -->
    <link href="{% static 'pstring/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'pstring/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	
	<!--recaptcha-->
	<script data-cfasync="false" src='https://www.google.com/recaptcha/api.js' async defer></script>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand topnav" href="/"><img src ="{% static 'pstring/favicon.png' %}" height="30" width="30"/></a>
                <a class="navbar-brand topnav" href="/">pul.io</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://wilhelmklopp.com">Contact</a>
						<!-- About page -->
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message" style="padding-top: 5%">
                        <h1>Welcome to pul.io</h1>
                        <h3>Get started by shortening a URL</h3>
                        <hr class="intro-divider">
                        <div class ="panel panel-default generate">
							<div class="panel-body">
								<div>
									<form id="shorten-url" class ="form-url" action="/" method="post">
										{% csrf_token %}
										
										{{ form.non_field_errors }}
										<div class="long-url-wrapper">
											<div id="error" class="form-error bg-warning"></div>

											<label for ="{{ form.long_url.1 }}" class = "sr-only" >URL to shorten: </label>
											{{ form.long_url }}
										</div>
										<br />
										<div class="g-recaptcha" data-sitekey="6Lcg_P8SAAAAABDyIedgNoi6Y0hREcDVdFsDpSxB"></div>
										<br />
										<button id="shorten-submit" data-loading-text="Loading..." class="btn btn-lg btn-primary btn-block" type="submit">Shorten</button>
									</form>
									<script data-cfasync="false">
										function ajax_post() {
											$("#shorten-submit").button("loading"); //change button to loading state
											//console.log("URL: " + $("#id_long_url").val());
											//console.log("Recaptcha: " + $("#g-recaptcha-response").val());
											//get csrftoken
											var csrftoken = $.cookie("csrftoken");
											//set headers and prepare ajax post (csrf security)
											function csrfSafeMethod(method) {
												// these HTTP methods do not require CSRF protection
												return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
											}
											$.ajaxSetup({
												beforeSend: function(xhr, settings) {
													if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
														xhr.setRequestHeader("X-CSRFToken", csrftoken);
													}
												}
											});
											//end csrf security init
											//console.log("ajax setup complete");
											//actual post here
											$.ajax({
												url: "/generate/",
												data: {
													"long_url": $("#id_long_url").val(),
													"g-recaptcha-response": $("#g-recaptcha-response").val(),
												},
												type: "POST",
												dataType: "json",
												success: function(json) {
													//console.log("Success: " + json);
													//console.dir(json);
													if (json["success"] == true) {
														window.location.href = "/" + json["short"];
													}
													else {
														if (json["error-code"] == 2) {
														$("#error").html("Error: Please enter a URL to shorten");
													}
													if (json["error-code"] == 1) {
														$("#error").html("Error: No POST data provided");
													}
													if (json["error-code"] == 3) {
														$("#error").html("Error: Our servers cannot reach the entered website. Please make sure the website exists.");
													}
													if (json["error-code"] == 4) {
														$("#error").html("Error: The ReCaptcha could not be authenticated successfully.");
													}
													}
												},
												error: function(xhr, status, errorThrown) {
													//console.dir(xhr);
													//console.log("Status: " + status);
													//console.log("Error: " + errorThrown);
													$("#error").html("Error: Please check your internet connection. Code: " + errorThrown);
												},
												complete: function(xhr, status) {
													//console.log("completed ajax. status: " + status);
													//console.dir(xhr);
													$("#shorten-submit").button("reset");
												}
											});
											//console.log("AJAX request complete.");
										};
										$('#shorten-url').on('submit', function(e){
											e.preventDefault();
											//console.log("default POST halted");
											ajax_post();
										});
									</script>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Help give the internet the security it deserves.</h2>
                    <p class="lead">For that little extra piece of mind, so you can focus on the things that really matter.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'pstring/img/lock.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Is it really necessary, though?</h2>
                    <p class="lead">According to Google, 3% of bit.ly links lead to malware.<br>Willing to take the risk?</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'pstring/img/pie.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Analytics Integration</h2>
                    <p class="lead">Analyse your impact with the tools you already master. We don't provide you with a rudimentary analytics tool that doesn't work half the time. Just use your existing Google Analytics account. Easy, Simple, Seamless. (available soon)</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'pstring/img/analytics.png' %}" alt="" style="border-radius: 50%">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="http://wilhelmklopp.com">Contact</a>
						</li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="https://github.com/xoneco/Project-String/blob/master/LICENCE">Licence</a>
						</li>
                    </ul>
                    <p class="copyright text-muted small">Copyright Wilhelm Klopp, Code is on Github</p>
                </div>
            </div>
        </div>
    </footer>

	<script>
		//handle error in generate form
		function renderErrorDiv() {
			$("#error").append('{{ form.long_url.errors }}');
			$("#error").show("slow");
		}
		// Can pass in function name
		$(document).ready(renderErrorDiv);
	</script>
</body>

</html>
