{% load static %}
<html>
<head>
<head>
	<title>{{ iv }}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="author" content="">
	<!-- favicon -->
	<link rel="icon" type="image/png" href="{% static 'pstring/favicon.ico' %}"/>


	<!-- Bootstrap core CSS -->
	<link href="{% static 'pstring/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- jquery -->
	<script data-cfasync="false" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<!--jquery cookie plugin -->
	<script data-cfasync="false" src="{% static 'pstring/jquery/jquery.cookie.js' %}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'pstring/bootstrap/dist/js/bootstrap.min.js' %}" defer></script>

    <!-- Custom CSS -->
    <link href="{% static 'pstring/landing-page.css' %}" rel="stylesheet">
	<link href="{% static 'pstring/resolve.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'pstring/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- Pusher -->
	<script src="https://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>

	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand topnav" href="/"><img src ="{% static 'pstring/favicon.png' %}" height="30" width="30"/></a>
                <a class="navbar-brand topnav" href="/">pul.io</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://wilhelmklopp.com">Contact</a>
                    </li>
					<!-- about page here-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<div class="main-content">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>This page redirects to {{ url }}</p>
					<center>
					<!--ugly code following -->
					<h1>Your shortened link is: <b><input id="output-box" value="pul.io/{{short}}" spellcheck="false" readonly="readonly" style="border: none; max-width: 200px;"/></b>
					</h1>
					</center>
					<div>Pageviews: <span id="pageviews">{{views}}</span></div>
					<label for="autoRedirect">To always automatically redirect to <span id="auto-redirect-url"></span>, check this box.</label>
					<input type="checkbox" id="autoRedirect" />
					<br />
					<br />
					<button class="btn btn-lg btn-primary btn-block center-block" onclick="buttonRedirect()" style="max-width:300px">Redirect</button>
                </div>
            </div>

        </div>
        <!-- /.container -->
	</div>

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-inline">
							<li>
								<a href="/">Home</a>
							</li>
							<li class="footer-menu-divider">&sdot;</li>
							<li>
								<a href="http://wilhelmklopp.com">Contact</a>
							</li>
							<li class="footer-menu-divider">&sdot;</li>
							<li>
								<a href="https://github.com/xoneco/Project-String/blob/master/LICENCE">Licence</a>
							</li>
						</ul>
						<p class="copyright text-muted small">Copyright Wilhelm Klopp, Code is on Github</p>
					</div>
				</div>
			</div>
		</footer>
<script>
	$(document).ready(function() {
		$("#output-box").select();
		$("#output-box").click(function() {
			$(this).select();
		});
	});
</script>
<script type="text/javascript">
	var pusher = new Pusher('6cdbf25a708e7bc60d47');
	uri_path = location.pathname;
	data_only_path = uri_path.slice(1, uri_path.length -1);
	var channel = pusher.subscribe('pageviews-' + data_only_path);
	channel.bind('new_value', function(data) {
		document.getElementById("pageviews").innerHTML = data.new_value;
	});
</script>
<script>
function buttonRedirect() {
	window.location ="{{ url }}";
}
</script>
<script>
function getURL(url) { // function to strip http:// or anything like that
	for (i=0; i < url.length; i++) {
		if (url[i] == ":") {
			if (url[i+1] + url[i+2] == "//") {
				var result = "";
				for (index=i+3; index < url.length; index++) {
					result = result + url[index];
				}
				//return result;
			}
		}
	}
	for (x=0; x < result.length; x++) { //removes anything that comes after the slash in for example www.google.com/asdkhaskfakjhfsdkfh
		//console.log("Item: " + x + " = " + result[x] + " in " + result);
		if (result[x] == "/") {
			result_sliced = result.slice(0, x);
			//console.log("Sliced final result: " + result_sliced);
			return result_sliced
		}
	}
	//console.log("No data afer / found");
	return result
}
function readCookie(cname) {
    var name = $.cookie(cname);
	return name;
}
function init_checkbox() {
	var cookie_value = readCookie("AUTOREDIRECT");
	var cookie_value_parsed = JSON.parse(cookie_value);
	if (cookie_value_parsed.length == 0) {
		$(function() {
		$("#autoRedirect").prop("checked", false);
		//console.log("Checkbox was unchecked");
		});
	 //checkbox is checked by default
	}
	else {
		//console.log("init_checkbox()" + "parsed.length: " + cookie_value_parsed.length);
		for (item=0; item < cookie_value_parsed.length; item++) {
			//console.log(cookie_value_parsed[item]);
			if (cookie_value_parsed[item] == getURL( "{{ url }}")) {
				$(function() {
				$("#autoRedirect").prop("checked", true);
				});
				//console.log("Checkbox was checked");
			}
	 //checkbox is unchecked by default
		}
	}
}
$(document).ready(function () {
	init_checkbox();
});
function set_auto_cookies() { //change to check for checkbox checked property; Gets called when checkbox is clicked.
	var cookie_value = readCookie("AUTOREDIRECT");
	var cookie_value_parsed = JSON.parse(cookie_value);
	if ($("#autoRedirect").is(":checked")) {
		//unsetCookie();
		// todo: check if url is included
		if (cookie_value_parsed.length == 0) {
			setCookie();
			//console.log("Cookie set alone");
		}
		else {
			for (i=0; i < cookie_value_parsed.length; i++) {
				if (cookie_value_parsed[i] != getURL( "{{ url }}")) {
					setCookie();
					//console.log("Cookie set among others");
				}
				//console.log(i);
			}
		}
		console.log(cookie_value_parsed.length);
	}
	else {
		cookie_value = readCookie("AUTOREDIRECT");
		cookie_value_parsed = JSON.parse(cookie_value);
		for (u=0; u < cookie_value_parsed.length; u++) { //uses u, instead of i since there was a weird console.log() bug
			//console.log(cookie_value_parsed[u] + String(u));
			if (String(cookie_value_parsed[u]) == getURL("{{ url }}")) {
				unsetCookie(u);
			}
		}
	}
}
function init_cookies() {
	redirect_urls = readCookie("AUTOREDIRECT");
	//if ($("#autoRedirect").is(":checked")) {
	if (!redirect_urls) {
		emptyarray = []
		$.cookie("AUTOREDIRECT", JSON.stringify(emptyarray), {expires: 180, path: "/"});
	}
}
function setCookie() {
	redirect_urls = readCookie("AUTOREDIRECT");
	redirect_urls_parsed = JSON.parse(redirect_urls);
	//console.log(redirect_urls_parsed);
	url_to_add = getURL("{{ url }}");
	//console.log(url_to_add);
	redirect_urls_parsed.push(String(url_to_add))
	final_cookie = redirect_urls_parsed;
	//console.log("final cookie: " + final_cookie);
	$.cookie("AUTOREDIRECT", JSON.stringify(final_cookie), {expires: 180, path: "/"});
}
function unsetCookie(x) { //this needs to be implemented: check whether respective url exists in array
	redirect_urls = readCookie("AUTOREDIRECT");
	redirect_urls_parsed = JSON.parse(redirect_urls);
	//console.log(redirect_urls_parsed);
	redirect_urls_parsed.splice(x, 1);
	final_cookie = redirect_urls_parsed;
	//console.log("final cookie: " + String(final_cookie));
	$.cookie("AUTOREDIRECT", JSON.stringify(final_cookie), {expires: 180, path: "/"});

	//document.cookie = "AUTOREDIRECT=; " + "expires=Thu, 01 Jan 1970 00:00:00 UTC;" ;  Temporary disable for larger implementation
}
function verify_redirect() {
	function get_redirect_check() {
		params = location.search;
		if (params != "") {
			for (i=0; i<params.length; i++) {
				if (params[i] == "r") {
					if (params.slice(i, "redirect=false".length) == "redirect=false") {
						return false
					}
				}
			}
		}
		else {
			return true;
		}
	}
	cookie_value = readCookie("AUTOREDIRECT");
	cookie_value_parsed = JSON.parse(cookie_value);
	for (a=0; a < cookie_value_parsed.length; a++) { //uses u, because of i since there was a weird console.log() bug
		//console.log(cookie_value_parsed[a] + String(a));
		if (String(cookie_value_parsed[a]) == getURL("{{ url }}") && get_redirect_check()) {
			window.location.replace("{{ url }}");
		}
	}
}
init_cookies();
verify_redirect();
$(document).ready(function () {
	$('#autoRedirect').click(function() {
		set_auto_cookies();
	});
});

function init_auto_redirect_url() {
	final_url = getURL("{{url}}");
	document.getElementById("auto-redirect-url").innerHTML = final_url;
}
init_auto_redirect_url();
</script>
</body>
</html>
