{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- Bootstrap core CSS -->
		<link href="{% static 'pstring/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Custom styles for this template -->
		<link href="{% static 'pstring/form.css' %}" rel="stylesheet">
        <title>pstring form test</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
    </head>

    <body>
	<div class ="container">
		<form class ="form-url" action="/form/" method="post">
			{% csrf_token %}
			
			{{ form.non_field_errors }}
			<div class="long-url-wrapper">
				{{ form.long_url.errors }}
				<label for ="{{ form.long_url.1 }}" class = "sr-only" >URL to shorten: </label>
				{{ form.long_url }}
			</div>
			<div class="g-recaptcha" data-sitekey="6Lcg_P8SAAAAABDyIedgNoi6Y0hREcDVdFsDpSxB"></div>
			<br />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Generate</button>
		</form>
	</div>
    </body>

</html>